{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
      }
    ],
    "@babel/typescript"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/transform-runtime",
          {
            "corejs": 3,
          }
        ]
      ]
    }
  }
}